<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../"><b><i class="glyphicon glyphicon-send"></i> Employee Register</b></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="./">HOME</a></li>
                    <li><a href="./insert">Add Employee</a></li>
                    <li><a href="./disp"></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container" style="margin-top:60px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1 style="margin:0">Employee Register</h1>
                <hr/>
            </div>
        </div>
        <div class="panel panel-default">
                <div class="panel-body">
    <div id="emplist">
        <table class="table table-bordered" >
            <tr>
                <th>Name</th>
                <th>Post</th>
                <th>Date of Birth</th>
                <th>Joining Date</th>
                <th>Salary</th>
            </tr>
            {% for emp in emplist %}
                <tr>
                    <td>{{emp.name}}</td>
                    <td>{{emp.post}}</td>
                    <td>{{emp.dob}}</td>
                    <td>{{emp.join_date}}</td>
                    <td>{{emp.salary}}</td>
                </tr>
            {% endfor %}
        </table>
        
    </div>
    </div>
    </div>
    <div class="panel panel-default">
            <div class="panel-body">
        <br/>
        <div class="row">
            <div class="col-md-3" style="margin-bottom:5px;">
                <a class="btn btn-primary" href="javascript:printList()" >Print </a>
               
            </div>
            <div class="col-md-3" style="margin-bottom:5px;">
                <a class="btn btn-primary" href="./csv">Download  as CSV</a>
            </div>
            <div class="col-md-3" style="margin-bottom:5px;">
                <a class="btn btn-primary" href="./pdf">Download  as PDF</a>
            </div>
            <div class="col-md-3" style="margin-bottom:5px;">
                <a class="btn btn-primary" href="./json">Download  as JSON</a>
            </div>
            <div class="col-md-3" style="margin-bottom:5px;">
                <a class="btn btn-primary" href="./excel">Download  as MS Excel</a>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        function printList(){
            var mywindow = window.open('', 'PRINT', 'height=600,width=700');
            mywindow.document.write('</head><body >');
            mywindow.document.write('<h1>' + document.title  + '</h1><hr/>');
            mywindow.document.write(document.getElementById("emplist").innerHTML);
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            mywindow.close();

            return true;
        }
    </script>
</body>
</html>