<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Register</title>
</head>
<body>
    <h1>Employee Register</h1>
    <hr/>
    <div class="">
        <ul>
            <li>
                <a style="background-color:crimson;color:cornsilk" href="./">Home</a>
            </li>
            <li>
                <a href="./insert">Add Employee</a>
            </li>
            <li>
                <a href="./disp">Employee List</a>
            </li>
        </ul>
    </div>
</body>
</html>